.background{
    -fx-background-color: #EBEBEB;
}

.header{
    -fx-font-family: "Vela Sans ExtBd";
    -fx-font-size: 30px;
    -fx-text-fill: #002975;
}

.tab_header{
    -fx-font-family: "Vela Sans Bd";
    -fx-font-size: 15px;
    -fx-text-fill: #005EAA;
}

.sec_header{
    -fx-font-family: "Vela Sans Bd";
    -fx-font-size: 20px;
    -fx-text-fill: #005EAA;
}

.field{
    -fx-background-color: #EBEBEB;
    -fx-background-radius: 18px;
    -fx-border-width: 2px;
    -fx-border-color: #005EAA;
    -fx-border-radius: 18px;
    -fx-font-family: "Noto Mono";
    -fx-font-size: 16px;
    -fx-text-fill: #002975;
}

.text_frame{
    -fx-border-width: 1.5px;
    -fx-border-color: #005EAA;
    -fx-background-color: #ffffff;
    -fx-font-family: "Noto Mono";
    -fx-font-size: 16px;
    -fx-text-fill: #005EAA;
}

.check-box .box {
    -fx-background-radius: 15px;
    -fx-background-color: #EBEBEB;
    -fx-border-width: 1px;
    -fx-border-color: #FF7614;
    -fx-border-radius: 50px;
}

.check-box {
    -fx-font-family: "Noto Mono";
    -fx-font-size: 20px;
    -fx-text-fill: #005EAA;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark,
.check-box:armed > .box > .mark{
    -fx-background-radius: 5px;
    -fx-background-color: #FF7614;
}

.scroll-pane {
    -fx-background-color: #EBEBEB;

}

.filter_field{
    -fx-background-color: #EBEBEB;
    -fx-background-radius: 18px;
    -fx-border-width: 2px;
    -fx-border-color: #005EAA;
    -fx-border-radius: 18px;
    -fx-font-family: "Noto Mono";
    -fx-font-size: 14px;
    -fx-text-fill: #002975;
}

.button{
    -fx-background-radius: 18px;
    -fx-background-color: #002975;
    -fx-font-family: "Vela Sans ExtBd";
    -fx-font-size: 16px;
    -fx-text-fill: #EBEBEB;
}



.update_button{
    -fx-background-radius: 18px;
    -fx-background-color: #0042bb;
    -fx-font-family: "Vela Sans ExtBd";
    -fx-font-size: 16px;
    -fx-text-fill: #EBEBEB;
}
